google_client_id={ google cloud OAuth client_id }
google_client_secret={ google cloud OAuth client_secret }

naver_client_id={ Naver developer OAuth client_id }
naver_client_secret={ Naver developer OAuth client_secret }

openAi_apiKey={ Your OpenAI_API_Key }

naver_smtp_host=smtp.naver.com
naver_smtp_port=465
naver_smtp_username=interview_mate@naver.com
naver_smtp_password=9PNTUH4UNYCG

frontend_base_url=http://localhost:3000